{% extends "main.html" %}

{% block content %}
<main>
    <aside>
        <ul class="list-actions">
            <li><a href="#"><i class="fa-solid fa-newspaper fa-sm"></i>Posts</a></li>
            <li><a href="#"><i class="fa-solid fa-magnifying-glass fa-sm"></i>Search</a></li>
            <li><a href="#"><i class="fa-solid fa-user-large fa-sm"></i>Profile</a></li>
            <li><a href="#"><i class="fa-regular fa-message fa-sm"></i>Messages</a></li>
        </ul>
    </aside>
    <article class="news">
        {% for news in news_list %}
        <div class="news-{{ forloop.counter }}">
            <p class="news-title">{{ news.title }}</p>
            <p class="news-date">{{ news.datetime }}</p>
            <a href="{{ news.link }}" class="news-link" target="_blank">Link</a>
        </div>
        {% endfor %}
    </article>
</main>
{% endblock %}